[submodule "mods/upmod"]
	path = mods/upmod
	url = https://github.com/mightpossibly/upmod
[submodule "mods/3d_armor"]
	path = mods/3d_armor
	url = https://github.com/minetest-mods/3d_armor.git
[submodule "mods/basic_materials"]
	path = mods/basic_materials
	url = https://github.com/mt-mods/basic_materials.git
[submodule "mods/basic_signs"]
	path = mods/basic_signs
	url = https://github.com/mt-mods/basic_signs.git
[submodule "mods/boost_cart"]
	path = mods/boost_cart
	url = https://github.com/SmallJoker/boost_cart.git
[submodule "mods/charcoal"]
	path = mods/charcoal
	url = https://github.com/pandorabox-io/charcoal.git
[submodule "mods/farming"]
	path = mods/farming
	url = https://github.com/minetest-mirrors/farming.git
[submodule "mods/illumination"]
	path = mods/illumination
	url = https://github.com/mt-mods/illumination
[submodule "mods/inspector"]
	path = mods/inspector
	url = https://github.com/minetest-mods/inspector.git
[submodule "mods/mesecons"]
	path = mods/mesecons
	url = https://github.com/minetest-mods/mesecons.git
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://github.com/minetest-mirrors/mobs_redo.git
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://github.com/minetest-mirrors/mobs_animal.git
[submodule "mods/mobs_monster"]
	path = mods/mobs_monster
	url = https://github.com/minetest-mirrors/mobs_monster.git
[submodule "mods/mobs_water"]
	path = mods/mobs_water
	url = https://github.com/minetest-mirrors/mobs_water.git
[submodule "mods/mobs_horse"]
	path = mods/mobs_horse
	url = https://github.com/minetest-mirrors/mob_horse.git
[submodule "mods/moreblocks"]
	path = mods/moreblocks
	url = https://github.com/minetest-mods/moreblocks.git
[submodule "mods/morelights"]
	path = mods/morelights
	url = https://github.com/random-geek/morelights.git
[submodule "mods/obsidianstuff"]
	path = mods/obsidianstuff
	url = https://github.com/OgelGames/obsidianstuff
[submodule "mods/signs_lib"]
	path = mods/signs_lib
	url = https://github.com/mt-mods/signs_lib.git
[submodule "mods/travelnet"]
	path = mods/travelnet
	url = https://github.com/mt-mods/travelnet.git
[submodule "mods/ambience"]
	path = mods/ambience
	url = https://github.com/minetest-mirrors/ambience.git
[submodule "mods/anvil"]
	path = mods/anvil
	url = https://github.com/minetest-mods/anvil.git
[submodule "mods/areas"]
	path = mods/areas
	url = https://github.com/minetest-mods/areas.git
[submodule "mods/auth_cache"]
	path = mods/auth_cache
	url = https://github.com/minetest-monitoring/auth_cache.git
[submodule "mods/auth_proxy_mod"]
	path = mods/auth_proxy_mod
	url = https://github.com/minetest-auth-proxy/auth_proxy_mod
[submodule "mods/biome_lib"]
	path = mods/biome_lib
	url = https://github.com/mt-mods/biome_lib.git
[submodule "mods/drawers"]
	path = mods/drawers
	url = https://github.com/minetest-mods/drawers.git
[submodule "mods/falling_item"]
	path = mods/falling_item
	url = https://github.com/minetest-mirrors/falling_item
[submodule "mods/farming_nextgen"]
	path = mods/farming_nextgen
	url = https://github.com/berengma/farming_nextgen.git
[submodule "mods/find_nodes_in_area_cache"]
	path = mods/find_nodes_in_area_cache
	url = https://github.com/BuckarooBanzay/find_nodes_in_area_cache.git
[submodule "mods/geoip"]
	path = mods/geoip
	url = https://github.com/mt-mods/geoip.git
[submodule "mods/mapserver"]
	path = mods/mapserver
	url = https://github.com/minetest-mapserver/mapserver_mod.git
[submodule "mods/mesecons_ratelimiter"]
	path = mods/mesecons_ratelimiter
	url = https://github.com/minetest-monitoring/mesecons_ratelimiter
[submodule "mods/mobs_npc"]
	path = mods/mobs_npc
	url = https://github.com/pandorabox-io/mobs_npc.git
[submodule "mods/monitoring"]
	path = mods/monitoring
	url = https://github.com/minetest-monitoring/monitoring.git
[submodule "mods/protector"]
	path = mods/protector
	url = https://github.com/mt-mods/protector.git
[submodule "mods/server_news"]
	path = mods/server_news
	url = https://github.com/pandorabox-io/server_news
[submodule "mods/unifieddyes"]
	path = mods/unifieddyes
	url = https://github.com/mt-mods/unifieddyes.git
[submodule "mods/WorldEdit"]
	path = mods/WorldEdit
	url = https://github.com/Uberi/Minetest-WorldEdit.git
[submodule "mods/xp_redo"]
	path = mods/xp_redo
	url = https://github.com/mt-mods/xp_redo.git
[submodule "mods/abripanes"]
	path = mods/abripanes
	url = https://github.com/Ezhh/abripanes
[submodule "mods/appliances"]
	path = mods/appliances
	url = https://github.com/sfence/appliances
[submodule "mods/spectator_mode"]
	path = mods/spectator_mode
	url = https://github.com/minetest-mods/spectator_mode
[submodule "mods/afkkick"]
	path = mods/afkkick
	url = https://github.com/GunshipPenguin/afkkick
[submodule "mods/cleaner"]
	path = mods/cleaner
	url = https://github.com/AntumMT/mod-cleaner
[submodule "mods/serveressentials"]
	path = mods/serveressentials
	url = https://github.com/GunshipPenguin/serveressentials
[submodule "mods/banners"]
	path = mods/banners
	url = https://github.com/pandorabox-io/banners
[submodule "mods/auroras"]
	path = mods/auroras
	url = https://github.com/random-geek/auroras
[submodule "mods/bed_jumping"]
	path = mods/bed_jumping
	url = https://github.com/playduin/bed_jumping
[submodule "mods/ethereal"]
	path = mods/ethereal
	url = https://notabug.org/tenplus1/ethereal
[submodule "mods/bows"]
	path = mods/bows
	url = https://notabug.org/TenPlus1/bows
[submodule "mods/carpets"]
	path = mods/carpets
	url = https://github.com/minetest-mods/carpets
[submodule "mods/skinsdb"]
	path = mods/skinsdb
	url = https://github.com/minetest-mods/skinsdb
[submodule "mods/flowerpot"]
	path = mods/flowerpot
	url = https://github.com/minetest-mods/flowerpot
[submodule "mods/nether"]
	path = mods/nether
	url = https://github.com/minetest-mods/nether
[submodule "mods/commoditymarket"]
	path = mods/commoditymarket
	url = https://github.com/minetest-mods/commoditymarket
[submodule "mods/item_drop"]
	path = mods/item_drop
	url = https://github.com/minetest-mods/item_drop
[submodule "mods/bulletin_boards"]
	path = mods/bulletin_boards
	url = https://github.com/minetest-mods/bulletin_boards
[submodule "mods/craftguide"]
	path = mods/craftguide
	url = https://github.com/minetest-mods/craftguide
[submodule "mods/quartz"]
	path = mods/quartz
	url = https://github.com/minetest-mods/quartz
[submodule "mods/lapis"]
	path = mods/lapis
	url = https://github.com/minetest-mods/lapis
[submodule "mods/crops"]
	path = mods/crops
	url = https://github.com/minetest-mods/crops
[submodule "mods/cartographer"]
	path = mods/cartographer
	url = https://gitlab.com/Df458/cartographer.git
[submodule "mods/cartographer-mtg"]
	path = mods/cartographer-mtg
	url = https://gitlab.com/Df458/cartographer-mtg.git
[submodule "mods/climatez"]
	path = mods/climatez
	url = https://github.com/runsy/climatez
[submodule "mods/connected_chests"]
	path = mods/connected_chests
	url = https://github.com/HybridDog/connected_chests
[submodule "mods/hardenedclay"]
	path = mods/hardenedclay
	url = https://github.com/oOChainLynxOo/hardenedclay
[submodule "mods/inventorybags"]
	path = mods/inventorybags
	url = https://github.com/cx384/inventorybags
[submodule "mods/sfinv"]
	path = mods/sfinv
	url = https://github.com/rubenwardy/sfinv
[submodule "mods/sfinv_bags"]
	path = mods/sfinv_bags
	url = https://notabug.org/TenPlus1/sfinv_bags.git
[submodule "mods/minecart"]
	path = mods/minecart
	url = https://github.com/joe7575/minecart
[submodule "mods/moretrees"]
	path = mods/moretrees
	url = https://github.com/mt-mods/moretrees
[submodule "mods/moreores"]
    path = mods/moreores
    url = https://github.com/minetest-mods/moreores.git
[submodule "mods/xocean"]
	path = mods/xocean
	url = https://github.com/starninjas/xocean
[submodule "mods/plantlife_modpack"]
	path = mods/plantlife_modpack
	url = https://github.com/mt-mods/plantlife_modpack
[submodule "mods/sponge"]
	path = mods/sponge
	url = https://github.com/BenjieFiftysix/sponge
[submodule "mods/player_monoids"]
	path = mods/player_monoids
	url = https://github.com/minetest-mods/player_monoids
[submodule "mods/pie"]
	path = mods/pie
	url = https://notabug.org/TenPlus1/pie.git
[submodule "mods/void_chest"]
	path = mods/void_chest
	url = https://notabug.org/MeseCraft/void_chest.git
[submodule "mods/wield3d"]
	path = mods/wield3d
	url = https://github.com/stujones11/wield3d
[submodule "mods/playerlist"]
	path = mods/playerlist
	url = https://github.com/EliasFleckenstein03/playerlist
[submodule "mods/awards"]
	path = mods/awards
	url = https://gitlab.com/rubenwardy/awards.git
[submodule "mods/itemframes"]
	path = mods/itemframes
	url = https://notabug.org/TenPlus1/itemframes.git
[submodule "mods/staffchan"]
	path = mods/staffchan
	url = https://gitlab.com/xenonca/staffchan.git
[submodule "mods/hopper"]
	path = mods/hopper
	url = https://notabug.org/TenPlus1/hopper.git
[submodule "mods/bedrock_nextgen"]
	path = mods/bedrock_nextgen
	url = https://github.com/starninjas/nextgen_bedrock
[submodule "mods/formspec_ast"]
	path = mods/formspec_ast
	url = https://gitlab.com/luk3yx/minetest-formspec_ast.git
[submodule "mods/qos"]
	path = mods/qos
	url = https://github.com/S-S-X/qos
[submodule "mods/personal_log"]
	path = mods/personal_log
	url = https://github.com/minetest-mods/personal_log
[submodule "mods/fireworkz"]
	path = mods/fireworkz
	url = https://github.com/runsy/fireworkz
[submodule "uplift-custom-textures"]
	path = uplift-custom-textures
	url = https://github.com/mightpossibly/uplift-custom-textures
[submodule "mods/controls"]
	path = mods/controls
	url = https://github.com/mt-mods/controls
[submodule "mods/beds"]
	path = mods/beds
	url = https://notabug.org/TenPlus1/beds.git
[submodule "mods/televator"]
	path = mods/televator
	url = https://github.com/NoctisLabs/an_televator.git
[submodule "mods/smartshop"]
	path = mods/smartshop
	url = https://github.com/AiTechEye/smartshop.git
[submodule "mods/crafting"]
	path = mods/crafting
	url = https://github.com/Qwertymine/crafting.git
[submodule "mods/unified_inventory"]
	path = mods/unified_inventory
	url = https://github.com/minetest-mods/unified_inventory.git
[submodule "mods/hbhuner"]
	path = mods/hbhuner
	url = https://codeberg.org/Wuzzy/minetest_hbhunger.git
[submodule "mods/hbarmor"]
	path = mods/hbarmor
	url = https://codeberg.org/Wuzzy/minetest_hbarmor.git
[submodule "mods/hudbars"]
	path = mods/hudbars
	url = https://codeberg.org/Wuzzy/minetest_hudbars.git
[submodule "mods/beautiflowers"]
	path = mods/beautiflowers
	url = https://github.com/minefaco/beautiflowers
[submodule "mods/mod-listitems"]
	path = mods/mod-listitems
	url = https://github.com/AntumMT/mod-listitems.git
[submodule "mods/xp_redo_ranks_ores"]
	path = mods/xp_redo_ranks_ores
	url = https://github.com/mt-mods/xp_redo_ranks_ores.git
[submodule "mods/mobs_skeletons"]
	path = mods/mobs_skeletons
	url = https://codeberg.org/Hamlet/mobs_skeletons.git
[submodule "mods/bonemeal"]
	path = mods/bonemeal
	url = https://notabug.org/TenPlus1/bonemeal.git
[submodule "mods/stripped_tree"]
	path = mods/stripped_tree
	url = https://github.com/minefaco/stripped_tree.git
[submodule "mods/death_messages"]
	path = mods/death_messages
	url = https://github.com/4Evergreen4/death_messages.git
[submodule "mods/mtinfo"]
	path = mods/mtinfo
	url = https://github.com/fluxionary/minetest-mtinfo.git
[submodule "mods/backedclay"]
	path = mods/backedclay
	url = https://notabug.org/TenPlus1/bakedclay.git
[submodule "mods/scaffolding"]
	path = mods/scaffolding
	url = https://bitbucket.org/Infinatum/scaffolding.git
[submodule "mods/xban2"]
	path = mods/xban2
	url = https://git.bananach.space/xban2.git
[submodule "mods/spill_removal"]
	path = mods/spill_removal
	url = https://github.com/pandorabox-io/spill_removal.git
[submodule "mods/beerchat"]
	path = mods/beerchat
	url = https://github.com/mt-mods/beerchat.git
[submodule "mods/wiki"]
	path = mods/wiki
	url = https://github.com/minetest-mods/wiki.git
[submodule "mods/formspecs"]
	path = mods/formspecs
	url = https://bitbucket.org/sorcerykid/formspecs.git
[submodule "mods/finder"]
	path = mods/finder
	url = https://bitbucket.org/sorcerykid/finder.git
[submodule "mods/unified_inventory_plus"]
	path = mods/unified_inventory_plus
	url = https://github.com/bousket/unified_inventory_plus.git
[submodule "mods/abriglass"]
	path = mods/abriglass
	url = https://github.com/mightpossibly/abriglass.git
[submodule "mods/dye"]
	path = mods/dye
	url = https://github.com/mightpossibly/dye.git
